
/*,  MOBILE FIRST */



/*! GENERAL */

:root {
    --primary-color-- : #bf0000;
    --secondary-color-- : #ffac2f;
    --font-link-- : "Roboto" "Open-Sans";
}

html, body {
    width:100%;
overflow-x:hidden;
}

body * {
    box-sizing: border-box;
    padding: 0;

}

body {
    margin: 0;
}

a, li {
    list-style: none;
    text-decoration: none;
    margin: 0px 10px;
    font-family: var(--font-link--);
    color: var(--primary-color--);
    font-weight: bold;
    font-size: 1em;
}

a {
    text-transform: capitalize;
    letter-spacing: 1px;
}

i {
        color: var(--secondary-color--);
        font-size: 1em;
        margin-right: 5px;
}


h2 {
    text-align: center;
    color: var(--primary-color--);
    font-size: 2em;
}

h3 {
    color: var(--secondary-color--);
    font-size: 1.3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 0px;
}

p {
    text-align: center;
}



/*! HEADER */

header {

    padding: 10px 0px 0px;
}

/*, NAV BURGER*/

.mobile-container {
    max-width: 100%;
    margin: auto;
    background-color: #ffffff;
    /* height: 500px; */
    color: rgb(0, 0, 0);
    /* border-radius: 10px; */
}

.topnav {
    overflow: hidden;
    background-color: white;
    position: relative;
  }



.topnav li {
    margin: 0px;
    width: 100%;
    border: 0.5px solid rgb(255, 255, 255);
}
  
  .topnav #myLinks {
    display: none;
    background-color: whitesmoke;
    padding: 5px 0px;
    margin: 0;
  }
  
  .topnav a {
    color: black;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    text-transform: inherit;
    font-family: var(--font-link--);
    font-size: 1.2em;
    font-weight: 400;
    display: block;

  }
  
  .topnav a.icon {
    color: var(--secondary-color--);
    font-size: x-large;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ffffff;
    color: var(--primary-color--);
  }
  
  .active {
    background-color: white;
    color: var(--primary-color--);
  }



#Navigation li {
    border: none;
}

img {
    width: 150px;
    display: block;
    margin: auto;
}

/*! WRAPPER */



#wrapper {
    background-image: url(img/BackBanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    border-top: 3px outset var(--primary-color--);
    border-bottom: 3px outset var(--primary-color--);
}

h1 {
    margin: 40px auto 20px;
}

.cols {
    padding: 20px 40px;
    text-align: center;
    margin: 40px auto 20px;
}


.topline {
    color: var(--primary-color--);
    font-size: 2.3em;
}

.MultiText {
    color: var(--secondary-color--);
    font-size: 1.7em;
    border-radius: 10px;
}


#button {
    width: 100%;
    position: relative;

}

button {
    padding: 10px;
    border: 1px solid var(--secondary-color--);
    border-radius: 5px;
    background-color: rgb(115, 33, 33);
    color: white;
    font-weight: bold;
    font-family: var(--font-link--);

}

button:hover {
    background-color: #bf0000;
    box-shadow: 1px 1px 5px 1px grey;
}

/*! SECTION LANGUE ESPAGNOL */


#spain img {
    width: 90%;
    object-fit: fill;
    
}

#diapo h2 {
    margin-bottom: 10px;
}


/*! ABOUT */

#About {
    padding: 30px 0px;
}



#About img {
    width: 10em;
    border-radius: 50%;
    margin: 20px auto;
}

#Contact {
    text-align: center;
}

#Contact .fa-whatsapp {
    font-size: 3em;
    color: lightgreen;
}

#Contact .fa-at {
    font-size: 3em;
    color: blue;
}

